.coverpage-blog{
  margin-top:-30px;
  position: fixed;
  width: 100%;
  background:linear-gradient(
                     rgba(127,175,173, .7),
                     rgba(127,175,173, .7)),
                     url("../assets/blog.png") no-repeat center center fixed;
     /* Full height */
   height: 103%;
   background-size: cover;
}
.blog-main-head{
  position: relative;
  padding-top:250px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  padding-bottom: 353px;
  font-family: 'Roboto', sans-serif;
  text-shadow: 3px 3px rgba(0,0,0,0.5);
}
