.coverpage-career{
  background: url('../assets/career.svg') no-repeat center center fixed;
                     background-size: cover;
}
.career-main-head{
  height:100vh;
}
@media screen and (max-width: 768px) {
  .coverpage-career {
    background-attachment: scroll;
  }
}
