.coverpage-about{
  background: url('../assets/theme.svg') no-repeat center center fixed;
                     background-size: cover;
}
.about-main-head{
  position: relative;
  padding-top:250px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  padding-bottom: 100vh;
  font-family: 'Roboto', sans-serif;
  text-shadow: 3px 3px rgba(0,0,0,0.5);
}
@media screen and (max-width: 768px) {
  .coverpage-about {
    background-attachment: scroll;
  }
}
