.coverpage-about{
  background: url('../assets/about.svg') no-repeat center center fixed;
                     background-size: cover;
}
.about-main-head{
    height: 100vh;
}
@media screen and (max-width: 768px) {
  .coverpage-about {
    background-attachment: scroll;
  }
}
