.body-registration{
  background-color: #f3f3f3;
  padding-bottom: 57px;
  overflow: hidden;
}
.btn-registration {
  background-color: #0000ff;
  font-size: 20px;
}
.btn-registration:hover{
  background-color: #0000b2;
}

.header-registration {
  padding-top: 40px;
  margin-left:370px;
  font-weight: bold;
  color: #7FB3D5 ;
}

.help-registration {
  margin-left:300px;
  padding-top: 15px;
}

.form-outline {
    margin-left: 300px;
    width:50%;
}

@media screen and (max-width: 480px) {
    .header-registration {
      padding-top: 100px;
      margin-left:150px;
      font-weight: bold;
      color: #7FB3D5 ;
    }
    .form-outline {
        margin-left: 100px;
        width:50%;
    }
    .help {
      margin-left:50px;
    }
}
@media screen and (max-width: 960px) {
    .header-registration {
      padding-top: 100px;
      margin-right:200px;
      font-weight: bold;
      color: #7FB3D5 ;
    }
    .form-outline {
        margin-right: 200px;
        width:50%;
    }
    .help {
      margin-right:800px;
    }
}
